<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Liste des pizzas</h2>

<ul>
    <% pizzas.forEach(function(r) { %>
        <li>
          <%= r.id %> - <%= r.name %> - <%= r.price %> 
          <% if (available) { %>
            <a href="/orders/<%= r.id %>" class="btn btn-primary btn-xs active" role="button">Commander</a>
          <% } else { %>
            <a href="/orders/<%= r.id %>" class="btn btn-primary btn-xs active disabled" role="button">Commande non disponible</a>
          <% } %>
      </li>
    <% }); %>
</ul>

</div>

</body>
</html>
